In [1]:
 # Dependencies
import csv
import matplotlib.pyplot as plt
import requests
import pandas as pd
from config import api_key

In [2]:
 # Save config information.
url = "http://api.openweathermap.org/data/2.5/weather?"
units = "metric"

# Build partial query URL
query_url = f"{url}appid={api_key}&units={units}&q="

In [3]:
#Top Travel Destinations in the United States
cities = ["Houston", "Chicago", "Austin", "Boulder", "New Orleans", "Seattle", 
          "New York", "Nashville", "Savannah", "Austin", "Sacramento", "Boise", "Portland", 
          "Boston", "Aspen", "Park City", "Denver", "Asheville", "Santa Fe", "Madison", 
          "Detroit", "Philadelphia", "Las Vegas", "Nantucket", "Sedona", "Kansas City", 
          "Indianapolis", "Minneapolis", "Manchester", "Miami"]

# Lists to hold Latitudes and Temps
lat = []
temp = []

# Loop through the list of cities and perform a request for data on each
for city in cities:
    response = requests.get(query_url + city).json()
    lat.append(response['coord']['lat'])
    temp.append(response['main']['temp'])

print(f"The latitude information received is: {lat}")
print(f"The temperature information received is: {temp}")
print(len(lat))
print(len(temp))

The latitude information received is: [29.76, 41.88, 30.27, 40.02, 29.95, 47.6, 40.73, 36.16, 32.08, 30.27, 38.58, 43.62, 45.52, 42.36, 39.19, 40.65, 39.74, 35.6, -31.62, 43.07, 42.35, 39.95, 36.17, 41.28, 34.87, 39.08, 39.77, 44.98, 53.48, 25.77]
The temperature information received is: [26.75, 16.01, 24.28, 18.37, 20.6, 14.58, 18.67, 21.51, 27.9, 24.28, 20.84, 17.31, 14.4, 12.49, 10.89, 18.35, 19.03, 23.62, 24.17, 17.34, 14.54, 20.7, 26.34, 11.11, 22.11, 18.33, 12.38, 19.58, 9.19, 30.72]
30
30

In [4]:
#data frame for City, Latitude, Temperature
weather_dict = {
    "City": cities,
    "Latitude": lat,
    "Temperature": temp
}
weather_data = pd.DataFrame(weather_dict)
weather_data

            City  Latitude  Temperature
0        Houston     29.76        26.75
1        Chicago     41.88        16.01
2         Austin     30.27        24.28
3        Boulder     40.02        18.37
4    New Orleans     29.95        20.60
5        Seattle     47.60        14.58
6       New York     40.73        18.67
7      Nashville     36.16        21.51
8       Savannah     32.08        27.90
9         Austin     30.27        24.28
10    Sacramento     38.58        20.84
11         Boise     43.62        17.31
12      Portland     45.52        14.40
13        Boston     42.36        12.49
14         Aspen     39.19        10.89
15     Park City     40.65        18.35
16        Denver     39.74        19.03
17     Asheville     35.60        23.62
18      Santa Fe    -31.62        24.17
19       Madison     43.07        17.34
20       Detroit     42.35        14.54
21  Philadelphia     39.95        20.70
22     Las Vegas     36.17        26.34
23     Nantucket     41.28        11.11
24        Sedona     34.87        22.11
25   Kansas City     39.08        18.33
26  Indianapolis     39.77        12.38
27   Minneapolis     44.98        19.58
28    Manchester     53.48         9.19
29         Miami     25.77        30.72