In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import csv
import matplotlib.pyplot as plt
import requests
import pandas as pd
from config import api_key

# File to Load (Remember to Change These)
file_to_load = "accident_clean.csv"

 # Save config information.
    

# Read Purchasing File and store into Pandas data frame
accident_data = pd.read_csv(file_to_load)
df=accident_data
accident_data.head()

,STATE,ST_CASE,VE_TOTAL,PERSONS,COUNTY,CITY,DAY,MONTH,YEAR,MILEPT,LATITUDE,LONGITUD
0,Alabama,10001,1,1,127,0,1,1,2015,1754,33.878653,-87.325328
1,Alabama,10002,1,1,83,0,1,1,2015,3604,34.910442,-86.908708
2,Alabama,10003,1,2,11,0,1,1,2015,1958,32.142006,-85.758456
3,Alabama,10004,1,1,45,0,4,1,2015,566,31.439814,-85.510300
4,Alabama,10005,2,2,45,2050,7,1,2015,308,31.319331,-85.515100

In [2]:
df.drop('MILEPT', axis=1, inplace=True)
df

,STATE,ST_CASE,VE_TOTAL,PERSONS,COUNTY,CITY,DAY,MONTH,YEAR,LATITUDE,LONGITUD
0,Alabama,10001,1,1,127,0,1,1,2015,33.878653,-87.325328
1,Alabama,10002,1,1,83,0,1,1,2015,34.910442,-86.908708
2,Alabama,10003,1,2,11,0,1,1,2015,32.142006,-85.758456
3,Alabama,10004,1,1,45,0,4,1,2015,31.439814,-85.510300
4,Alabama,10005,2,2,45,2050,7,1,2015,31.319331,-85.515100
5,Alabama,10006,1,2,111,0,8,1,2015,33.438494,-85.389267
6,Alabama,10007,1,2,89,1730,8,1,2015,34.773044,-86.527664
7,Alabama,10008,1,1,73,350,3,1,2015,33.462489,-86.870906
8,Alabama,10009,1,1,117,47,13,1,2015,33.236100,-86.813922
9,Alabama,10010,2,2,33,0,5,1,2015,34.758367,-87.607508
10,Alabama,10011,2,2,83,0,7,1,2015,34.766028,-86.879211
11,Alabama,10012,3,6,95,1500,9,1,2015,34.369117,-86.288878
12,Alabama,10013,1,1,87,0,10,1,2015,32.551772,-85.744644
13,Alabama,10014,1,1,11,0,11,1,2015,32.162708,-85.714028
14,Alabama,10015,1,1,127,0,11,1,2015,33.964150,-87.605697
15,Alabama,10016,2,2,81,2340,13,1,2015,32.618239,-85.371383
16,Alabama,10017,1,1,97,0,14,1,2015,30.505928,-88.233925
17,Alabama,10018,1,2,1,0,16,1,2015,32.524344,-86.672119
18,Alabama,10019,1,1,121,0,19,1,2015,33.229308,-86.269278
19,Alabama,10020,2,3,121,2910,15,1,2015,33.465811,-86.049992
20,Alabama,10021,2,4,115,0,23,1,2015,33.566017,-86.521022
21,Alabama,10022,1,2,127,0,26,1,2015,33.840219,-87.331558
22,Alabama,10023,1,1,11,0,12,1,2015,32.217183,-85.918750
23,Alabama,10024,1,1,5,0,2,1,2015,31.839453,-85.220700
24,Alabama,10025,1,2,125,0,15,1,2015,33.088906,-87.674597
25,Alabama,10026,1,1,73,2052,13,1,2015,33.464606,-86.941675
26,Alabama,10027,2,3,3,2890,17,1,2015,30.472711,-87.666331
27,Alabama,10028,1,1,1,2540,10,1,2015,32.430664,-86.517917
28,Alabama,10029,1,1,69,0,23,1,2015,31.161308,-85.190561
29,Alabama,10030,2,5,21,0,24,1,2015,32.780833,-86.470200
...,...,...,...,...,...,...,...,...,...,...,...
32136,Nebraska,560101,2,2,25,0,18,9,2015,42.853700,-106.101100
32137,Nebraska,560102,1,2,45,0,19,9,2015,44.075000,-104.588700
32138,Nebraska,560103,4,1,25,90,30,9,2015,42.831019,-106.337094
32139,Nebraska,560104,1,2,25,0,3,10,2015,43.086428,-106.337200
32140,Nebraska,560105,1,1,21,0,10,10,2015,41.155700,-105.056600
32141,Nebraska,560106,1,1,9,0,10,10,2015,42.635300,-105.143400
32142,Nebraska,560107,1,1,7,0,17,10,2015,41.109100,-107.226000
32143,Nebraska,560108,1,1,1,0,19,10,2015,41.694800,-105.508400
32144,Nebraska,560109,2,2,25,0,22,10,2015,43.443800,-106.238500
32145,Nebraska,560110,1,2,37,0,25,10,2015,41.607800,-109.655700
32146,Nebraska,560111,1,1,3,0,22,10,2015,44.486700,-108.458400
32147,Nebraska,560112,1,2,13,0,31,10,2015,43.186200,-108.397000
32148,Nebraska,560113,1,1,9,0,27,10,2015,42.959236,-105.612575
32149,Nebraska,560114,1,2,5,0,3,11,2015,43.645603,-105.665972
32150,Nebraska,560115,1,3,13,0,10,11,2015,42.928000,-108.780000
32151,Nebraska,560116,1,2,9,200,5,11,2015,42.747100,-105.386900
32152,Nebraska,560117,1,2,25,0,11,11,2015,43.124653,-107.371050
32153,Nebraska,560118,1,1,31,0,14,11,2015,41.794028,-104.791967
32154,Nebraska,560119,2,2,13,0,14,11,2015,43.082800,-108.378700
32155,Nebraska,560120,1,2,41,0,3,11,2015,41.307789,-110.199781
32156,Nebraska,560121,2,2,25,280,6,11,2015,42.857253,-106.271981
32157,Nebraska,560122,2,2,37,0,19,11,2015,41.606700,-109.144200
32158,Nebraska,560123,1,2,39,0,23,11,2015,43.425800,-110.778000
32159,Nebraska,560124,1,5,33,0,24,11,2015,44.876300,-106.998800
32160,Nebraska,560125,2,2,1,0,6,12,2015,41.541800,-105.675500
32161,Nebraska,560126,2,2,25,0,9,12,2015,42.562203,-107.024628
32162,Nebraska,560127,1,3,21,100,10,12,2015,41.056478,-104.795633
32163,Nebraska,560128,2,2,21,100,13,12,2015,41.159400,-104.694200
32164,Nebraska,560129,2,4,21,0,14,12,2015,41.531100,-104.328600
32165,Nebraska,560130,1,1,33,0,19,12,2015,44.823689,-107.328131

In [3]:
url = "http://api.openweathermap.org/data/2.5/weather?"
units = "metric"
lat=df["LATITUDE"]
lon=df["LONGITUD"]
temp=[]




# Build partial query URL
query_url = f"{url}appid={api_key}lat={lat}&lon={lon}"


for row in df:
    response = requests.get(query_url).json()
    temp.append(response)

In [4]:
temp

[{'cod': 401,
  'message': 'Invalid API key. Please see http://openweathermap.org/faq#error401 for more info.'},
 {'cod': 401,
  'message': 'Invalid API key. Please see http://openweathermap.org/faq#error401 for more info.'},
 {'cod': 401,
  'message': 'Invalid API key. Please see http://openweathermap.org/faq#error401 for more info.'},
 {'cod': 401,
  'message': 'Invalid API key. Please see http://openweathermap.org/faq#error401 for more info.'},
 {'cod': 401,
  'message': 'Invalid API key. Please see http://openweathermap.org/faq#error401 for more info.'},
 {'cod': 401,
  'message': 'Invalid API key. Please see http://openweathermap.org/faq#error401 for more info.'},
 {'cod': 401,
  'message': 'Invalid API key. Please see http://openweathermap.org/faq#error401 for more info.'},
 {'cod': 401,
  'message': 'Invalid API key. Please see http://openweathermap.org/faq#error401 for more info.'},
 {'cod': 401,
  'message': 'Invalid API key. Please see http://openweathermap.org/faq#error401 for more info.'},
 {'cod': 401,
  'message': 'Invalid API key. Please see http://openweathermap.org/faq#error401 for more info.'},
 {'cod': 401,
  'message': 'Invalid API key. Please see http://openweathermap.org/faq#error401 for more info.'}]